@import '~@angular/material/theming';

.paste-json-card {
  &__closebtn{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: absolute;
    top: -31px;
    right: 0;
  }
  mat-form-field {
    width: 100%;
    height: 100%;
    border: 1px solid #d3e0ea;
    cursor: pointer;
    ::ng-deep .mat-form-field-wrapper {
      margin: 0 !important;
      padding: 0;
    }
    ::ng-deep .mat-form-field-flex {
      background-color: white !important;
    }
    ::ng-deep .mat-form-field-underline {
      display: none;
    }
  }
}