/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-card{
  width: 80%;
  margin: 40px auto;
  background: #f6f5f5;
  .mat-card-title{
    text-align: center;
    color: #1687a7;
  }
}